<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Data</title>
</head>
<body>

<h1>Block Live Details</h1>
<br>
<label>Block No : 4</label>
<br>
<label>Previous Transaction Hash : {Put Hash}</label>
<br>
<label>Timestamp : {Put Timestamp}</label>
<br>
<label>Total Transactions : {Put Transactions}</label>
<br>
<br>
<h3><u>Transaction Details</u></h3>
<br>

<label>Transaction No : {Put Transaction number}</label>
<br>
<label>Transaction Hash : {Put Transaction Hash}</label>
<br>
<label>Transaction Timestamp : {Put Transaction Timestamp}</label>
<br>
<label>Smart Contract Deployed : {Put Contract Hash}</label>
<br>
<label>Transaction Data</label>
<br>
Item : Iron
<br>
Weight : 5 Kg
<br>
Amount : 500

<br>
<br>

<label>Transaction No : {Put Transaction number}</label>
<br>
<label>Transaction Hash : {Put Transaction Hash}</label>
<br>
<label>Transaction Timestamp : {Put Transaction Timestamp}</label>
<br>
<label>Smart Contract Deployed : {Put Contract Hash}</label>
<br>
<label>Transaction Data</label>
<br>
Item : Iron
<br>
Weight : 5 Kg
<br>
Amount : 500

<br>
<br>

<label>Transaction No : {Put Transaction number}</label>
<br>
<label>Transaction Hash : {Put Transaction Hash}</label>
<br>
<label>Transaction Timestamp : {Put Transaction Timestamp}</label>
<br>
<label>Smart Contract Deployed : {Put Contract Hash}</label>
<br>
<label>Transaction Data</label>
<br>
Item : Iron
<br>
Weight : 5 Kg
<br>
Amount : 500

</body>
</html>