<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Data</title>
    <link rel="stylesheet" type="text/css" href="/home/dushyant/Desktop/Github/smart_power/static/BlockData.css">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>


<h1 align="center"><u>Block Live Details</u></h1>
<br>

<div style="margin: auto; width: 90%; position: absolute; left: 27%">
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b>Block Number : 4</b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Previous Block Hash</b></a>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42e32dad785215</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">1518624444.04</font>
                    <br>
                    <a href="#"><b>Total Transactions</b></a>
                    <br>
                    <font color="white">4</font>
                </div>
              </div>
            </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
<h3 align="center"><u>Transaction Details</u></h3>
<br>
<div style="margin: auto; width: 90%; position: absolute; left: 27%">
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b>Transaction Number : 4</b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Transaction Hash</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42e32dad76715</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">1518624444.04</font>
                    <br>
                    <a href="#"><b>Smart Contract Deployed</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42b46dad987845</font>
                    <br>
                    <a href="#"><b>Transaction Data</b></a>
                    <br>
                    <font color="white">
                        Item : Iron
                        <br>
                        Weight : 5 Kg
                        <br>
                        Amount : 500
                    </font>
                </div>
              </div>
            </div>
    </div>
</div>


<div style="margin: auto; width: 90%; position: absolute; left: 27%; top:125%">
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b>Transaction Number : 5</b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Transaction Hash</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42e32bob98736</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">1518624444.04</font>
                    <br>
                    <a href="#"><b>Smart Contract Deployed</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42b46dad987845</font>
                    <br>
                    <a href="#"><b>Transaction Data</b></a>
                    <br>
                    <font color="white">
                        Item : Coal
                        <br>
                        Weight : 5 Kg
                        <br>
                        Amount : 100
                    </font>
                </div>
              </div>
            </div>
    </div>
</div>

<div style="margin: auto; width: 90%; position: absolute; left: 27%; top:177%">
    <div class="row" align="center">
            <div class="col s12 m6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"><b>Transaction Number : 6</b></span>
                </div>
                <div class="card-action">
                    <a href="#"><b>Transaction Hash</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42e32dad76715</font>
                    <br>
                    <a href="#"><b>Timestamp</b></a>
                    <br>
                    <font color="white">1518624444.04</font>
                    <br>
                    <a href="#"><b>Smart Contract Deployed</b></a>
                    <br>
                    <font color="white">30dde939ae1de6183eb921b251c691caf62d5c2d84b13e852f42b46dad987845</font>
                    <br>
                    <a href="#"><b>Transaction Data</b></a>
                    <br>
                    <font color="white">
                        Item : Iron
                        <br>
                        Weight : 5 Kg
                        <br>
                        Amount : 500
                    </font>
                </div>
              </div>
            </div>
    </div>
</div>


</body>
</html>