<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
</head>
<body bgcolor="#F0F0F0">

<h1 align="center">Hilti Live Inventory Data</h1>
<br>

<table align="center" border="solid">
    <tr>
        <th>Block No</th>
        <th>Previous Hash</th>
        <th>Timestamp</th>
        <th>Total Transactions</th>
    </tr>
    {% for d in data %}
   <tr>
        <td align="center"><a href="#" >{{  d["Block Number"] }}</a></td>
        <td align="center">{{  d["Previous Hash"] }}</td>
        <td align="center">{{  d["Timestamp"] }}</td>
        <td align="center">{{  d["Total Transactions"] }}</td>
   </tr>
{% endfor %}
</table>

<br>

</body>
</html>